sensor:$7$101$BvfV5gcHY03+vI5W$erb8g/VcYVKnxiq6ykmaY0QWChDFHsQ/1sQ4sSGLnR5H8YOTVHCETeSZ4KGqtkqqbRKsgUokXHRMQAzc1uydfw==
switch:$7$101$fg1YWzb1jB2+UnTE$4M27sPcBO8Pn7NtQAE/fJl8muwPk4RxQ2vl7esQeA+iOxhlXjv4YGJUJGJUCwHbjTe+QqJ6k9meihgvmOK7VIA==
server:$7$101$BfnxDtnpn1QLtSrM$Pt3tNmS0SA5xysOZW56nGH+qv2hBwX/wMBebdBa/Xy90D6BpsDnTAbx7yRkr5WHk/UAYFjF7tPZJNRPpFxMNcw==
